@import "colors";

.angular-fade() {
  transition: 0.3s linear opacity;
  &.ng-hide {
    opacity: 0;
  }
}

.angular-fade-repeat() {
  &.ng-enter {
    transition: 0.3s linear opacity;
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }

  &.ng-leave {
    transition: 0.3s linear opacity;
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.border-bottom(@color: @theme-color-light) {
  border-bottom: 2px solid @color;
}

.config-panel {
  @panel-width: 40px;
  @icon-size: @panel-width;
  
  width: @panel-width;
  
  .config-panel-item {
    width: @icon-size;
    height: @icon-size;
    font-size: 13pt;
    margin-bottom: 2px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: 0.2s;
    cursor: pointer;
    
    &:hover {
      background: @theme-color-lighter;
    }

    span {
      height: -webkit-min-content;
      top: -1px; // a slight offset to make things look better
    }
  }
}

.room-tab-container {
  height: 40px;
  clear: left;

  .room-tab {
    font-size: 12pt;
    width: 180px;
    height: 100%;
    padding: 0px 8px;
    cursor: default;
    
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &:hover {
      cursor: pointer;
      background: @theme-color-light;
      
      .room-close {
        opacity: 0.5;
      }
    }
    
    .room-close {
      opacity: 0;
      transition: 0.4s ease;
      
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
    
    .glyphicon {
      position: relative;
      top: px;
      font-size: 10pt;
    }
    
    .angular-fade-repeat();
  }
}

.room-description {
  font-size: 12pt;
  padding: 10px;
  height: 80px;
  overflow: auto;
  .border-bottom();
}

.room-messages {
  overflow: auto;
  height: 0px;
  .border-bottom();

  .chat-message {
    font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
    padding: 3px 10px;

    .character {
      font-weight: bold;
      padding-right: 4px;
      letter-spacing: 0.5px;
    }

    .text {

    }
  }
}

.charlist-container {
  width: 200px;
  flex: 0 0 auto;
  
  .character-count {
    padding: 4px 10px;
    .border-bottom(@theme-color-lightest);
//    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.5);
  }
  
  .scroll-container {
    height: 0px;
    overflow: auto;
    
    .character {
      font-size: 13pt;
      font-weight: bold;
      display: block;
      padding: 4px 10px;
      transition: 0.2s;
      
      &.friend {
        background-color: rgba(46, 204, 113, 0.3);
      }
      
      &.global-op {
        background-color: rgba(231, 76, 60, 0.3);
      }
      
      &:hover {
        background-color: @theme-color-lighter;
      }
    }
  }
  
  .character-menu {
    background: @theme-color-darker;
    overflow: hidden;
    
    transition: 0.5s ease max-height;
    max-height: 400px;
    &.ng-hide {
      transition: 0.3s ease max-height;
      max-height: 0px;
    }
    
    div {
      padding: 4px 10px;
    }
    
    .menu-info {
      font-size: 11pt;
    }
    
    .menu-option {
      cursor: pointer;
      transition: 0.2s;
      
      &:hover {
        background: @theme-color;
      }
    }
    
    .divider {
      padding: 0;
      .border-bottom();
    }
    
    .glyphicon {
      font-size: 10pt;
    }
  }
}

.chat-input {
  width: 100%;
  height: 80px;

  textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;

    resize: none;
    background: none;
    border: none;
    outline: none;
  }
}

.character-color {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  
  &.none        { color: rgb(255, 249, 206) }
  &.female      { color: rgb(255, 134, 155) }
  &.male        { color: rgb(97, 175, 255) }
  &.herm        { color: rgb(195, 85, 255) }
  &.male-herm   { color: rgb(0, 127, 255) }
  &.shemale     { color: rgb(201, 148, 255) }
  &.cboy        { color: rgb(74, 221, 140) }
  &.transgender { color: rgb(255, 184, 52) }
}

.character-status-color {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  
  &.looking { color: rgb(0, 208, 0) }
  &.online  { color: white }
  &.busy    { color: lightblue }
  &.idle    { color: #ffce00 }
  &.away    { color: rgb(227, 255, 10) }
  &.dnd     { color: rgb(193, 23, 23) }
  &.offline { color: grey }
}

.character-status {
  
  &:after {
    content: '•';
    margin-left: -2px;
    margin-right: 2px;
    
    font-size: 20pt;
    line-height: 0;
    
    position: relative;
    top: 3px;
  }
  
  .character-status-color;
  
  &.online  { color: black }
  text-shadow: none;
}