@theme-color: #34495e;
@theme-color-light: lighten(@theme-color, 7%);
@theme-color-lighter: lighten(@theme-color, 15%);
@theme-color-lightest: lighten(@theme-color, 22%);
@theme-color-dark: darken(@theme-color, 6%);
@theme-color-darker: darken(@theme-color, 13%);