.console-panel {
  width: 650px;
  height: 400px;
  
  .console-messages {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
    .message {
      padding: 3px 8px 0px;
      text-align: left;
      font-family: monospace;
    }
  }
}