@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/google/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(../fonts/google/RobotoCondensed-Regular.ttf);
}