@import "colors";

@title-bar-size: 30px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // this makes things so much nicer
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
//  transition: 0.3s;
}

body {
  height: 100vh;
}

a, a:hover, a:active, a:focus {
  color: white;
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: @theme-color-light;
  font-size: 14pt;
  
  &:hover {
    background-color: @theme-color-lighter;
  }
  
  &:focus {
    background-color: @theme-color-lightest;
  }
  
  &[disabled] {
    opacity: 0.5;
  }
}


.theme-color {
  background-color: @theme-color;
  
  &-dark {
    background-color: @theme-color-dark;
  }
  
  &-darker {
    background-color: @theme-color-darker;
  }

  &-light {
    background-color: @theme-color-light;
  }
  
  &-lighter {
    background-color: @theme-color-lighter;
  }
  
  &-lightest {
    background-color: @theme-color-lightest;
  }
}


.flex {
  &-container-row {
    display: flex;
  }
  
  &-container-column {
    display: flex;
    flex-direction: column;
  }
  
  &-grow {
    flex: 1 1 auto;
  }
  
  &-shrink {
    flex: 0 0 auto;
  }
}

.title-bar {
  height: @title-bar-size;
  
  .drag-region {
    height: 100%;
    -webkit-app-region: drag;
  }
  
  .icon {
    @icon-width: 30px;
    @icon-height: 15px;
    @icon-spacing: 12px;
    
    height: @title-bar-size;
    font-size: min(@icon-width, @icon-height);
    padding: ((@title-bar-size - @icon-height) / 2) @icon-spacing / 2;
    
    &:hover {
      background: @theme-color-light;
    }
  }
}

.app-container {
  width: 100%;
  font-size: 13pt;
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  background-color: rgba(0, 0, 0, 0.3);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  h1 {
    margin-bottom: 20px;
  }
  
  & > div {
    padding: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  
    .status-text {
      font-size: 14pt;
      margin-top: 20px;

      &.ng-hide {
        transition: 0.5s linear all;
        opacity: 0;
      }
    }
  }
  
  transition: 0.3s linear all;
  &.ng-hide {
    opacity: 0;
  }
  
  .modal-list {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    overflow-y: auto;
    padding: 8pt;
    
    @border: 2px solid @theme-color-lighter;
    
    border-bottom: @border;
    
    .modal-list-item {
      display: block;
      font-size: 14pt;
      padding: 8px 10px;
      vertical-align: middle;
      transition: 0.2s;
      cursor: pointer;
      
      &:hover {
        background: @theme-color-dark;
      }
      
      &.selected {
        background: @theme-color-light;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  
  &-track {
    background: @theme-color-dark;
  }
  
  &-thumb {
    background: @theme-color-lighter;
  }
}