<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>LightningChat</title>
    
    <link href="styles/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    
    <link href="styles/fonts.css" type="text/css" rel="stylesheet" />
    <link href="styles/ui.css" type="text/css" rel="stylesheet" />
    <link href="styles/chat.css" type="text/css" rel="stylesheet" />
    <link href="styles/login.css" type="text/css" rel="stylesheet" />
    <link href="styles/charselect.css" type="text/css" rel="stylesheet" />
    <link href="styles/console.css" type="text/css" rel="stylesheet" />
    <link href="styles/channel-list.css" type="text/css" rel="stylesheet" />
    
    <script>
      require('electron-connect').client.create()
    </script>
    
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    
    <script>
      // finally polyfill
      Promise.prototype['finally'] = function (f) {
        return this.then(function (value) {
          return Promise.resolve(f()).then(function () {
            return value;
          });
        }, function (err) {
          return Promise.resolve(f()).then(function () {
            throw err;
          });
        });
      }
    </script>

<!--    <script src="lib/jquery.min.js"></script>-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-cookies.min.js"></script>
    
    <script src="scripts/app.js"></script>
    
    <script src="scripts/api/observer.js"></script>
    <script src="scripts/api/util.js"></script>
    <script src="scripts/api/json.js"></script>
<!--    <script src="scripts/api/sockethandler.js"></script>-->
    
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/charselect.js"></script>
    <script src="scripts/controllers/chat.js"></script>
    <script src="scripts/controllers/console.js"></script>
    <script src="scripts/controllers/titlebar.js"></script>
    <script src="scripts/controllers/channel-list.js"></script>
  </head>
  <body class='flex-container-column' ng-app='fchat'>
    <div class='title-bar theme-color-dark flex-container-row'
         ng-controller='TitleBarController as titleBar'
         ng-show='titleBar.visible'>
      
      <div class='drag-region flex-grow'></div>
      
      <div class='icon' ng-click='titleBar.minimize($event)'>
        <span class='glyphicon glyphicon-minus'></span>
      </div>
      <div class='icon' ng-click='titleBar.toggleRestore($event)'>
        <span class='glyphicon glyphicon-unchecked'></span>
      </div>
      <div class='icon' ng-click='titleBar.close($event)'>
        <span class='glyphicon glyphicon-remove'></span>
      </div>
    </div>
    
    <div class='app-container flex-grow flex-container-row theme-color'
         ng-controller='ChatController as chat'>
      
      <div class='config-panel flex-shrink theme-color-light'>
<!--
        <div class='config-panel-item theme-color' ng-click=''>
          <span class='glyphicon glyphicon-flash'></span>
        </div>
-->
        
        <div class='config-panel-item theme-color' ng-click='chat.openChannelList("public")'>
          <span class='glyphicon glyphicon-globe'></span>
        </div>
        
        <div class='config-panel-item theme-color' ng-click='chat.openChannelList("private")'>
          <span class='glyphicon glyphicon-lock'></span>
        </div>
        
        <div class='config-panel-item theme-color' ng-click='chat.openConsole()'>
          <span class="glyphicon glyphicon-console"></span>
        </div>
        
        <div class='config-panel-item theme-color' ng-click=''>
          <span class="glyphicon glyphicon-cog"></span>
        </div>
        
        <div class='config-panel-item theme-color' ng-click='chat.logOut()'>
          <span class="glyphicon glyphicon-log-out"></span>
        </div>
      </div>
      
      <div class='flex-grow flex-container-column'>
        <div class='room-tab-container theme-color-dark'>
          <div class='room-tab'
             ng-repeat='room in chat.rooms'
             ng-class='{ "theme-color":chat.isRoomSelected(room) }'
             ng-click='chat.selectRoom(room)'>
            <div class='inline-block pull-left'>
              {{room.title}}
            </div>
            <div class='room-close' ng-click='chat.closeRoom(room)'>
              <span class='glyphicon glyphicon-remove'></span>
            </div>
          </div>
        </div>

        <div class='flex-grow flex-container-row'>
          <div class='flex-grow flex-container-column'>
            <div class='room-description theme-color'
                 ng-show='chat.currentRoom.type === "channel" && chat.currentRoom.description.length > 0'>
              {{chat.currentRoom.description}}
            </div>
            
            <div class='room-description theme-color'
                 ng-show='chat.currentRoom.type === "privateMessage"'>
              <span character-color='chat.currentRoom.characterInfo.gender'>
                {{chat.currentRoom.characterInfo.identity}}
              </span>
              <span ng-show='chat.currentRoom.characterInfo.statusMessage.length > 0'>
                - {{chat.currentRoom.characterInfo.statusMessage}}
              </span>
            </div>
            
            <div class='room-messages flex-grow theme-color-dark' auto-scroll='chat.currentRoom.messages'>
              <div class='chat-message' ng-repeat='message in chat.currentRoom.messages'>
                <span class='character-status' ng-class='message.character.status'></span>
<!--                <span class='time'>[{{message.time}}]</span>-->
                <span class='character' character-color='message.character.gender'>
                  {{message.character.identity}}
                </span>
                <span class='text'>{{message.message}}</span>
              </div>
            </div>
          </div>
          <div class='charlist-container theme-color-light flex-container-column'
               ng-show='chat.currentRoom.characters.length > 0'>
            <div class='character-count theme-color-lighter'>
              Characters: {{chat.currentRoom.characters.length}}
            </div>
            <div class='scroll-container flex-grow'>
              <div ng-repeat='character in chat.currentRoom.characters'
                   ng-controller='CharacterMenuController as menu'>
                
                <a href class='character'
                   character-color='character.gender'
                   ng-class='{ "friend": character.friended, "global-op": character.globalOp }'
                   ng-click='menu.toggle()'>
                  
                  <span class='character-status' ng-class='character.status'></span>
                  {{character.identity}}
                </a>
                
                <div class='character-menu' ng-show='menu.visible'>
                  <div class='menu-info'>
                    <span class='character-status-color' ng-class='character.status'>{{ character.status | capitalize }}</span>
                    <span ng-show='character.statusMessage.length > 0'>- {{character.statusMessage}}</span>
                  </div>
                  <div class='divider'></div>
                  <div class='menu-option' ng-click=''>
                    <span class='glyphicon glyphicon-link'></span>
                    Open Profile
                  </div>
                  <div class='menu-option' ng-click='chat.openPM(character)'>
                    <span class='glyphicon glyphicon-comment'></span>
                    Send PM
                  </div>
                  <div class='menu-option' ng-click=''>
                    <span class='glyphicon glyphicon-pushpin'></span>
                    Bookmark
                  </div>
                  <div class='menu-option' ng-click=''>
                    <span class='glyphicon glyphicon-heart-empty'></span>
                    Add as Friend
                  </div>
                  <div class='menu-option' ng-click=''>
                    <span class='glyphicon glyphicon-minus-sign'></span>
                    Ignore
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='chat-input theme-color'>
          <textarea placeholder="Enter your message here..."
                    ng-model='chat.chatInput'
                    ng-keydown='chat.keydown($event)'></textarea>
        </div>
      </div>
      
      <div class='overlay'
           ng-controller='LoginController as login'
           ng-show='login.visible'>
        
        <div class='login-panel theme-color'>
          <h1>Login</h1>
          <form ng-submit='login.submit()'>
            <input type='text' placeholder='Username' ng-disabled='login.working' required autofocus
                   ng-model='login.username' />
            
            <input type='password' placeholder='Password' ng-disabled='login.working' required
                   ng-model='login.password' />
            
            <button type="submit">Go!</button>
            
            <div class='status-text'>
              {{login.statusText}}
            </div>
          </form>
        </div>
      </div>
      
      <div class='overlay'
           ng-controller='CharSelectController as charSelect'
           ng-show='charSelect.open'>
        
        <div class='character-select-panel theme-color'>
          <h1>Select Character</h1>
          <img class='character-image' ng-src='{{charSelect.avatarSRC}}' />
          <form ng-submit='charSelect.submit()'>
            <div class='character-list modal-list theme-color-light'
                 ng-keydown='charSelect.keydown($event)'>

              <a href class='character modal-list-item'
                 ng-repeat='character in charSelect.characters'
                 ng-class='{ "theme-color-lighter": charSelect.isSelected(character) }'
                 ng-click='charSelect.selectCharacter(character)'
                 ng-focus='charSelect.selectCharacter(character)'
                 ng-attr-id="{{ charSelect.isSelected(character) ? 'selected' : undefined }}"
                 >

                {{character}}
              </a>
            </div>
            <button class='confirm-button' type='submit' autofocus>
              Confirm
            </button>
          </form>
        </div>
      </div>
      
      <div class='overlay'
           ng-controller='ConsoleController as console'
           ng-show='console.visible'
           ng-click='console.close()'>
        
        <div class='console-panel theme-color' stop-propagation>
          <div class='console-messages theme-color-darker'>
            <div class='message' ng-repeat='message in console.messages track by $index'>
              {{message}}
            </div>
          </div>
        </div>
      </div>
      
      <div class='overlay'
           ng-controller='ChannelListController as channels'
           ng-show='channels.visible'
           ng-click='channels.close()'>
        
        <div class='channel-list-panel theme-color' stop-propagation>
          <h1>{{channels.header}}</h1>
          <div class='modal-list channel-list'>
            <div class='modal-list-item clearfix'
                 ng-repeat='channel in channels.channelList'
                 ng-click='channels.join(channel)'
                 ng-class='{ selected: channel.joined }'>
              
              <span class='inline-block pull-left'>{{channel.title || channel.name}}</span>
              <span class='inline-block pull-right'>{{channel.characters}}</span>
            </div>
          </div>
          <div class='status-text'>
            {{channels.statusText}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
